.cluster-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
  overflow: hidden;
}

.cluster-icon img {
  width: 50px;
  height: 50px;
}

.cluster-icon span {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 0 3px black;
}

.cluster-small img {
  width: 40px;
  height: 40px;
}
.cluster-medium img {
  width: 55px;
  height: 55px;
}
.cluster-large img {
  width: 70px;
  height: 70px;
}
